<div class="mx-auto card" style="width: 38rem;">
    <div class="card-header button-container">
        <i class="bi bi-person-circle"> @Model.User.UserName</i>
        <i class="bi bi-bookmark-fill"> @Model.Tag.Denumire</i>
    </div>
    @if (@Model.Image != null)
    {
        <img src=@Model.Image class="card-img-top" alt="imagine atasata">
    }
    <div class="card-body">
        <i class="bi bi-chat-left-text"> @Model.NrComments</i>
        <p class="card-text" style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">
            @Html.Raw(Model.Continut)
        </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><i class="bi bi-calendar-check-fill"> @Model.Data.ToString("dd.MM.yyyy, HH:mm")</i></li>
        <li class="list-group-item"><i class="bi bi-geo-alt-fill"> @Model.Locatie</i></li>
    </ul>
</div>
