@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager
@inject RoleManager<IdentityRole> roleManager

<div class="mx-auto card w-auto h-auto">
    <div class="card-header button-container">
        <div class="fw-bold">
            <img src="@Model.User.Image" class="rounded-circle" style="width: 30px; height: 30px;" />
            @if (signInManager.IsSignedIn(User))
            {
                <a href="/Users/Details/@Model.User.Id" class="no-underline">
                    @Model.User.FirstName @Model.User.LastName
                </a>
            }

            else
            {
                <a href="/Home/Index" class="no-underline">
                    @Model.User.FirstName @Model.User.LastName
                </a>
            }
        </div>


        @if(@Model.TagId != null)
        {
            <a href="/Tags/Show/@Model.Tag.Id" class="bi bi-bookmark-fill no-underline"> @Model.Tag.Denumire</a>
        }
    </div>

    <div class="d-flex flex-row card-img-top justify-content-center">
        @if (@Model.Image != null)
        {
            <div>
                <img src=@Model.Image class="post-image" alt="imagine atasata">
            </div>

        }

        @* @if(@Model.Video != null) *@
        @* { *@
        @*     <div> *@
        @*         <iframe width="560" height="315" *@
        @*                 src="https://www.youtube.com/embed/@Model.Video" *@
        @*                 title="YouTube video player" frameborder="0" *@
        @*                 allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" *@
        @*                 allowfullscreen> *@
        @*         </iframe> *@

        @*     </div> *@
        @* } *@
    </div>

    <div class="card-body">
        <p class="card-text">
            @Html.Raw(Model.Continut)
        </p>
        <hr />

        @if (signInManager.IsSignedIn(User))
        {
            <div class="d-flex flex-row justify-content-lg-between">
                <form asp-controller="Posts" asp-action="Show" asp-route-id="@Model.Id" method="get">
                    <div>
                        <button class="btn btn-primary bi bi-chat-left-text fs-5" type="submit"> @Model.NrComments</button>

                    </div>
                </form>


                @if (User.IsInRole("Admin"))
                {
                    <form asp-controller="Likes" asp-action="ShowLikes" asp-route-id="@Model.Id" method="get">
                        <div>
                            <button class="btn btn-primary bi bi-heart fs-5" type="submit" id="@Model.Id"> @Model.NrLikes</button>
                        </div>
                    </form>
                }

                else 
                {
                    <form asp-controller="Likes" asp-action="Click" asp-route-id="@Model.Id" method="post">
                        <div>
                            <button class="btn btn-primary bi bi-heart fs-5 like" type="submit" id="@Model.Id"> @Model.NrLikes</button>
                            <input type="hidden" name="url" value="@($"{Context.Request.Path}{Context.Request.QueryString}")"/>

                        </div>
                    </form>

                }
            </div>
        
        }

        else 
        {
            <div class="d-flex flex-row justify-content-lg-between">
                <form asp-controller="Home" asp-action="Index" method="get">
                    <div>
                        <button class="btn btn-primary bi bi-chat-left-text fs-5" type="submit"> 
                            @Model.NrComments
                         </button>
                    </div>
                </form>



                <form asp-controller="Home" asp-action="Index" method="get">
                    <div>
                        <button class="btn btn-primary bi bi-heart fs-5" type="submit" id="@Model.Id"> @Model.NrLikes</button>
                    </div>
                </form>

            </div>
        
        }

       
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><i class="bi bi-calendar-check-fill"> @Model.Data.ToString("dd.MM.yyyy, HH:mm")</i></li>
        <li class="list-group-item"><i class="bi bi-geo-alt-fill"> @Model.Locatie</i></li>
    </ul>
</div>
