@model SocialMediaApp.Models.Post

@{
    ViewData["Title"] = "Postare";
}

<br />
<partial name="PostInfo" model="Model" />
<br />

@if(ViewBag.UserCurent == Model.UserId || ViewBag.EsteAdmin == true)
{

    <div class="d-flex flex-row justify-content-center gap-3">

        <form method="post" asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id">

            <button class="btn btn-outline-danger bi bi-trash" type="submit"> Șterge</button>

        </form>


        @if (ViewBag.UserCurent == Model.UserId)
        {
            <form action="/Posts/Edit/@Model.Id" method="get" class="d-inline-block">

                <button class="btn btn-outline-primary bi bi-pencil-square" type="submit"> Editează</button>

            </form>
        }

    </div>
}


<br />
<hr />
@* @if (Model?.Comments != null && Model.Comments.Any()) *@
<div>
    <h3 class="fw-bold">Comentarii</h3>
    <br />
    @try
    {
        @foreach (var comm in ViewBag.Comms)
        {
            <div class="container">
                <div class="row">
                    <div class="card col-md-8 border border-1 border-secondary rounded-1 mx-auto">
                        <div class="card-header">
                            <div class="fw-bold">
                                <img src="@comm.User.Image" class="rounded-circle" style="width: 30px; height: 30px;"/>
                                <a href="/Users/Details/@comm.UserId" class="no-underline">
                                @comm.User.FirstName @comm.User.LastName
                                </a>

                            </div>
                        </div>
                        <div class="card-body">

                            <p>@comm.Continut</p>
                            <small><i class="bi bi-clock"> @comm.Data.ToString("dd.MM.yyyy, HH:mm")</i></small>
                        </div>
                        <br>

                        @if(ViewBag.UserCurent == comm.UserId || ViewBag.EsteAdmin == true) {
                            <div class="d-flex gap-3">
                                @if (ViewBag.UserCurent == comm.UserId)
                                {
                                    <div>

                                        <a class="btn btn-outline-primary" asp-controller="Comments" asp-action="Edit" asp-route-id="@comm.Id">
                                            <i class="bi bi-pencil-square"></i> Editează
                                        </a>

                                    </div>
                                }


                                <div>

                                    <form method="post" asp-controller="Comments" asp-action="Delete" asp-route-id="@comm.Id">

                                        <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i> Șterge</button>

                                    </form>

                                </div>

                            </div>
                        }

                        <br />

                    </div>
                </div>
            </div>
            <br />
        }
    }
    catch (Exception ex)
    {
        <p>No comments available.</p>
        <p>@ex.Message</p> <!-- Display the exception message for debugging purposes -->
    }

</div>

<br>
<br />

<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-8 card">


                <form method="post" asp-controller="Posts" asp-action="Show">

                    <div class="card-body">

                        <input type="hidden" name="PostId" value="@Model.Id" />

                        <label>Conținut comentariu</label>
                        <br />

                        <textarea class="form-control" name="Continut"></textarea>

                        <span asp-validation-for="Continut" class="text-danger"></span>
                        <br /><br />

                        <div class="d-flex justify-content-end">
                            <button class="btn btn-outline-success" type="submit">
                                <i class="bi bi-plus-lg"></i>
                                Postează
                            </button>
                        </div>
                    </div>

                </form>


        </div>

    </div>

</div>

@if (Model.GroupId != null)
{
    <form action="/Groups/Show/@Model.GroupId">
        <button class="btn btn-outline-dark" type="submit">
            <i class="bi bi-arrow-left"></i> Înapoi
        </button>
    </form>
}
else
{
    <form action="/Posts/Index">
        <button class="btn btn-outline-dark" type="submit">
            <i class="bi bi-arrow-left"></i> Înapoi
        </button>
    </form>
}
