@model SocialMediaApp.Models.Post

<h1>Detalii postare</h1>
<br />
<partial name="PostInfo" model="Model" />
<br />
<div class="d-flex flex-row justify-content-center gap-3">

    <form method="post" asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id">

        <button class="btn btn-outline-danger bi bi-trash" type="submit"> Sterge postarea</button>

    </form>

    <form method="post" asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Id">

        <button class="btn btn-outline-primary bi bi-pencil-square" type="submit"> Editeaza postarea</button>

    </form>

</div>
<br />
<hr />
<br />
@* @if (Model?.Comments != null && Model.Comments.Any()) *@
<div>
    <h3>Comentarii</h3>
    @try
    {
        @foreach (var comm in Model.Comments)
        {
            <div class="container">
                <div class="row">
                    <div class="card col-md-8 border border-1 border-secondary rounded-1 mx-auto">
                        <div class="card-header">
                            <strong><i class="bi bi-person"> @comm.User.UserName</i></strong>
                        </div>
                        <div class="card-body">

                            <p>@comm.Continut</p>
                            <small><i class="bi bi-clock"> @comm.Data.ToString("dd.MM.yyyy, HH:mm")</i></small>
                        </div>
                        <br>

                        <div class="d-flex gap-3">

                            <div>

                                <a class="btn btn-outline-primary" asp-controller="Comments" asp-action="Edit" asp-route-id="@comm.Id">
                                    <i class="bi bi-pencil-square"></i> Editeaza
                                </a>

                            </div>

                            <div>

                                <form method="post" asp-controller="Comments" asp-action="Delete" asp-route-id="@comm.Id">

                                    <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i> Sterge</button>

                                </form>

                            </div>

                        </div>

                        <br />

                    </div>
                </div>
            </div>
            <br />
        }
    }
    catch (Exception ex)
    {
        <p>No comments available.</p>
        <p>@ex.Message</p> <!-- Display the exception message for debugging purposes -->
    }

</div>

<br>
<br />

<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-8 card">


                <form method="post" asp-controller="Posts" asp-action="Show">

                    <div class="card-body">

                        <input type="hidden" name="PostId" value="@Model.Id" />

                        <label>Continut comentariu</label>
                        <br />

                        <textarea class="form-control" name="Continut"></textarea>

                        <span asp-validation-for="Continut" class="text-danger"></span>
                        <br /><br />

                        <div class="d-flex justify-content-end">
                            <button class="btn btn-outline-success" type="submit">
                                <i class="bi bi-plus-lg"></i>
                                Posteaza
                            </button>
                        </div>
                    </div>

                </form>


        </div>

    </div>

</div>

<button type="submit"> <a href="/Posts/Index">Inapoi</a></button>