@model SocialMediaApp.Models.ApplicationUser

<div class="card mb-3 align-header">
	<img class="profile-image" src="@Model.Image" alt="imagine profil">
	<div class="profile-title"><b>@Model.FirstName @Model.LastName</b></div>
	<div class="card-text">@Model.Description</div>

	<div class="d-flex justify-content-center">
		<div class="w-100 d-flex" style="gap: 10px;">
			<div>
				<form asp-action="ViewFollowers" asp-controller="Users" asp-route-id="@Model.Id" method="get">
					<button type="submit" class="btn btn-outline-success"> @ViewBag.noFollowers Followers</button>
				</form>
			</div>

			<div>
				<button type="button" class="btn btn-outline-success"> @ViewBag.noPosts Posts</button>
			</div>

			<div>
				<form type="submit" asp-action="ViewFollowing" asp-controller="Users" asp-route-id="@Model.Id" method="get">
					<button type="submit" class="btn btn-outline-success"> @ViewBag.noFollowing Following</button>
				</form>
			</div>

		</div>
	</div>


	@if(ViewBag.IsMe == true) {
		<form action="/Users/Settings/@Model.Id" method="get" class="w-100">
			<button type="submit" class="btn btn-outline-primary w-100">Editează profilul</button>
		</form>
	}
	else {
		if(ViewBag.Accepted == null) {
			<form action="/Follows/New/@Model.Id" method="post" class="w-100">
				<button type="submit" class="btn btn-outline-primary w-100">Urmărește</button>
			</form>
		}

		else {
			if(ViewBag.Accepted == true) {
				<button type="submit" class="btn btn-outline-primary w-100">Urmărești</button>
			}

			else {
				<button type="submit" class="btn btn-outline-primary w-100">Cererea a fost trimisă</button>
			}
		}
	}



</div>

@if(ViewBag.SeePosts == true || ViewBag.Accepted == true)
{
	@* vedem daca are postari *@
	@if(ViewBag.noPosts == 0)
	{
		<div class="card mb-3">
			<div class="card-body text-center fw-bold h-100 w-100">
				<p class="card-text fs-1">
					<i class="bi bi-ban-fill"></i> Nu există postări
				</p>
			</div>
		</div>
	}
	else
	{	
		@foreach(var post in ViewBag.Posts)
		{
			<div class="card mb-3">
				<div class="card-body">
					<partial name="PostInfo" model="post" />
					<br />
					<div class="d-flex justify-content-center gap-5">
						<form action="/Posts/Show/@post.Id" method="get" class="d-inline-block">
							<button type="submit" class="btn btn-info">Vezi mai mult</button>
						</form>
						@if (ViewBag.UserCurent == post.UserId || ViewBag.EsteAdmin == true)
						{
							<form action="/Posts/Edit/@post.Id" method="get" class="d-inline-block">
								<button type="submit" class="btn btn-info">Editeaza</button>
							</form>
						}

					</div>
				</div>
			</div>
		}
	}

}
else
{
	<div class="card mb-3">
		<div class="card-body text-center fw-bold h-100 w-100">
			<p class="card-text fs-1">
				<i class="bi bi-eye-slash"></i> Contul este privat
			</p>
		</div>
	</div>
}