@model SocialMediaApp.Models.Group

<h1>Detalii despre grup</h1>
<br />
<hr />
<br />

<div class="mx-auto card" style="width: 38rem;">
    <div class="card-header button-container">
        <i class="bi bi-person-circle"> @Model.Nume</i>
    </div>
    @if (@Model.Fotografie != null)
    {
        <img src=@Model.Fotografie class="card-img-top" alt="imagine atasata">
    }
    <div class="card-body">
        <p class="card-text" style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">
            @Html.Raw(Model.Descriere)
        </p>
    </div>
</div>

<br />
<hr />
<div class="d-flex flex-row justify-content-between">

    <form method="group" asp-controller="Groups" asp-action="Delete" asp-route-id="@Model.Id">

        <button class="btn btn-danger" type="submit">Sterge grup</button>

    </form>

</div>
<hr />
<br />
<!-- Button to add a new post -->
<div class="d-flex flex-row justify-content-between">
    <a class="btn btn-primary" href="/Posts/New?groupId=@Model.Id">Adauga Postare</a>
</div>
<br />
<hr />
@if (Model?.Posts != null && Model.Posts.Any())
@* @try *@
{
    @foreach (var post in Model.Posts)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>

                <div class="col-md-8">

                    <div>

                        <p>@post.Continut</p>
                        <small>@post.Data</small>
                        <strong><i class="bi bi-person">@post.UserId</i></strong>
                        <br />
                        <a href="/Posts/Show/@post.Id">Vezi mai multe detalii despre postare</a>

                    </div>

                </div>
            </div>
        </div>
    }
}
else
{
    <p>No posts available.</p>
    @* <p>@ex.Message</p> <!-- Display the exception message for debugging purposes --> *@
}

@* else *@

<button type="submit"> <a href="/Groups/Index">Vizualizeaza toti utilizatorii din grup</a></button>
<br />
<br />
<button type="submit"> <a href="/Groups/Index">Inapoi</a></button>
